*{
    margin: 0;
    padding: 0;

}

.bkg{
    height: 100%;
    width: 100%;
    border-style: solid;
    box-sizing: border-box  ;
    border-color: #DD7230;
    /* padding: 0;
    margin: 0; */
    border-width: 10px;
    background-color: #ffefe6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.billing-btn{
    background:#ff9c5f;
    color:rgb(255, 255, 255);
    border:none;
    position:relative;
    height:35px;
    font-size:15px;
    padding:0 20px;
    cursor:pointer;
    border: 2px solid #e6884e;
    margin-left: 150px;
    margin-bottom: 20px;
    display:block;
}

.billing-btn:hover{
    background:#ffc7a3;
    color:rgb(48, 48, 48);
    border:none;
    position:relative;
    height:35px;
    font-size:15px;
    padding:0 20px;
    cursor:pointer;
    border: 2px solid #ff9553;
    margin-left: 150px;
    margin-bottom: 20px;
    display:block;
}

.btn-welcome{
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 30px;
    color:#DD7230;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.btn-welcome:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-welcome:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-menu{
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 30px;
    color:#DD7230;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.btn-menu:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-menu:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-press{
    float: right;
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-right: 30px;
    color:#DD7230;
    font-size: 20px;
    position: relative;
}

.btn-press:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-press:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-order{
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 30px;
    color:#DD7230;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.btn-order:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-order:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-contacts{
    float: right;
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-right: 30px;
    color:#DD7230;
    font-size: 20px;
    position: relative;
}

.btn-contacts:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-contacts:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1.title_name{
    color: #DD7230;
    font-family: Baskerville,Times,'Times New Roman',serif;
    font-size: 50px;
    font-variant:small-caps;
    line-height: 100px;
    font-weight: bold;
    margin-top: -10px;
    text-align: center;
    text-shadow: 0 1px 1px rgb(255, 255, 255);
    margin: 35px auto;
}

.form-a{
    width: 800px;
    height: 665px;
    position: relative;
    margin: 8% auto;
    margin-top: -15px;
    /* background-color: #8476ff; */
    padding: 5px;
    overflow: hidden;
    border-radius: 25px;
}

.consentbox{
    margin-top: 10px;
    margin-left: 150px;
    margin-bottom: 10px;
    margin-right: -140px;
}

.consentbox_text{
    font-family: 'Courier New', monospace;
    font-size: 15px;
}

label{
    font-size: 20px;
    margin-left: 150px;
}

input{
    display: inline-block;
    padding: 5px 10px;
}

.passN{
    margin-left: 222px;
}
.userN{
    margin-left: 150px;
    margin-bottom: 20px;
}
.pass{
    margin-left: 110px;
}
.firstN{
    margin-left: 150px;
    margin-bottom: 20px;
}
.mail{
    width: 500px;
    margin-left: 150px;
    margin-bottom: 20px;
}
.bill{
    width: 500px;
    margin-left: 150px;
    margin-bottom: 20px;
}
.pay{
    width: 500px;
    margin-left: 150px;
    margin-bottom: 20px;
}
.payN{
    float: left;
    width: 500px;
    margin-left: 150px;
    margin-bottom: 10px;
}

.back-btn:enabled{
    background:#DD7230;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    font-size:15px;
    padding:0 110px;
    cursor:pointer;
    transition:800ms ease all;
    margin: auto;
    outline:none;
    display:block;
    margin-bottom: 20px;
    text-align: center;
}
.back-btn:disabled{
    background:#e2a884;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    font-size:15px;
    padding:0 110px;
    transition:800ms ease all;
    outline:none;
    margin-left: 250px;
    margin-top:20px;
    display:block;
}
.back-btn:enabled:hover{
    background:#fff;
    color:#DD7230;
}
.back-btn:enabled:before,.back-btn:enabled:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #DD7230;
    transition:400ms ease all;
}
.back-btn:enabled:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.back-btn:enabled:hover:before,.back-btn:enabled:hover:after{
    width:100%;
    transition:800ms ease all;
}

.search-btn:enabled{
    background:#DD7230;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    font-size:15px;
    padding:0 110px;
    cursor:pointer;
    transition:800ms ease all;
    margin: auto;
    outline:none;
    margin-top:20px;
    display:block;
    text-align: center;
}
.search-btn:disabled{
    background:#e2a884;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    font-size:15px;
    padding:0 110px;
    transition:800ms ease all;
    outline:none;
    margin-left: 250px;
    margin-top:20px;
    display:block;
}
.search-btn:enabled:hover{
    background:#fff;
    color:#DD7230;
}
.search-btn:enabled:before,.search-btn:enabled:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #DD7230;
    transition:400ms ease all;
}
.search-btn:enabled:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.search-btn:enabled:hover:before,.search-btn:enabled:hover:after{
    width:100%;
    transition:800ms ease all;
}

.submit-btn:enabled{
    background:#DD7230;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    font-size:15px;
    padding:0 110px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-left: 250px;
    margin-top:20px;
    display:block;
}
.submit-btn:disabled{
    background:#e2a884;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    font-size:15px;
    padding:0 110px;
    transition:800ms ease all;
    outline:none;
    margin-left: 250px;
    margin-top:20px;
    display:block;
}
.submit-btn:enabled:hover{
    background:#fff;
    color:#DD7230;
}
.submit-btn:enabled:before,.submit-btn:enabled:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #DD7230;
    transition:400ms ease all;
}
.submit-btn:enabled:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.submit-btn:enabled:hover:before,.submit-btn:enabled:hover:after{
    width:100%;
    transition:800ms ease all;
}

.resInfo{
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}