*{
    margin: 0;
    padding: 0;

}

.bkg{
    height: 100%;
    width: 100%;
    border-style: solid;
    box-sizing: border-box  ;
    border-color: #DD7230;
    /* padding: 0;
    margin: 0; */
    border-width: 10px;
    background-color: #ffefe6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.btn-welcome{
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 30px;
    color:#DD7230;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.btn-welcome:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-welcome:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-menu{
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 30px;
    color:#DD7230;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.btn-menu:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-menu:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-press{
    float: right;
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-right: 30px;
    color:#DD7230;
    font-size: 20px;
    position: relative;
}

.btn-press:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-press:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-order{
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 30px;
    color:#DD7230;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.btn-order:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-order:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-contacts{
    float: right;
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-right: 30px;
    color:#DD7230;
    font-size: 20px;
    position: relative;
}

.btn-contacts:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-contacts:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1.title_name{
    color: #DD7230;
    font-family: Baskerville,Times,'Times New Roman',serif;
    font-size: 50px;
    font-variant:small-caps;
    line-height: 100px;
    font-weight: bold;
    margin-top: -10px;
    text-align: center;
    text-shadow: 0 1px 1px rgb(255, 255, 255);
    margin: 35px auto;
}

.form-a{
    width: 800px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    margin-top: -15px;
    padding: 5px;
    overflow: hidden;
    border-radius: 25px;
}

h2.login_page{
    text-align: center;
    text-decoration: underline;
    margin: 10px auto;
    float: right;
    margin-bottom: 20px;
    margin-right: 70px;
    color: #DD7230;
    font-family: Copperplate;
    position: relative;
    border-radius: 25px;
    width: 80%;
}

h2.login_page1{
    text-align: center;
    text-decoration: underline;
    /*margin: 10px auto;*/
    float: right;
    margin-bottom: 20px;
    margin-right: 70px;
    color: #DD7230;
    font-family: Copperplate;
    position: relative;
    border-radius: 25px;
    width: 80%;
}

h2.login_page2{
    text-align: center;
    text-decoration: underline;
    /*margin: 10px auto;*/
    float: left;
    margin-bottom: 50px;
    margin-left: 40px;
    color: #DD7230;
    font-family: Copperplate;
    position: relative;
    border-radius: 25px;
    width: 80%;
}

.inputs{
    text-align: center;
    top: 170px;
    position: absolute;
    width: 350px;
    transition: .5s;
}

.inputs11{
    text-align: center;
    margin-top: 70px;
    top: 50px;
    width: 350px;
    transition: .5s;
}

.inputs1{
    text-align: right;
    top: 400px;
    position: absolute;
    width: 240px;
    transition: .5s;
}

.regist{
    color:#DD7230;
    text-align: right;
}

.input-field{
    width: 50%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    margin-top:-10px;
}

.u_email{
    margin-left: -280px;
}
.u_phone{
    margin-left: -280px;
}
.u_mail{
    margin-left: -235px;
}
.u_pay{
    margin-left: -225px;
}

input{
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 5px;
    width: 300px;
}








.login{
    background:#DD7230;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    font-size:15px;
    padding:0 110px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-left: 70px;
    margin-top:70px;
    display:block;
}
.login:hover{
    background:#fff;
    color:#DD7230;
}
.login:before,.login:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #DD7230;
    transition:400ms ease all;
}
.login:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.login:hover:before,.login:hover:after{
    width:100%;
    transition:800ms ease all;
}

.reserv{
    background:#DD7230;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    font-size:15px;
    padding:0 110px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-left: 50px;
    margin-top:70px;
    display:block;
}
.reserv:hover{
    background:#fff;
    color:#DD7230;
}
.reserv:before,.reserv:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #DD7230;
    transition:400ms ease all;
}
.reserv:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.reserv:hover:before,.reserv:hover:after{
    width:100%;
    transition:800ms ease all;
}




.log{
    background:#DD7230;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    /* width: 200px; */
    font-size:15px;
    padding:0 131px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-left: 50px;
    margin-top:70px;
    display:block;
}
.log:hover{
    background:#fff;
    color:#DD7230;
}
.log:before,.log:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #DD7230;
    transition:400ms ease all;
}
.log:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.log:hover:before,.log:hover:after{
    width:100%;
    transition:800ms ease all;
}







.side_by_side{
    width: 100%;
}

.user_field{
    float: left;
    width: 50%;
    border-right: 1px black;
}

.guest_field{
    float: right;
    width: 50%;
}

hr.vertical {
    float: right;
    height:90%;
    width:0;
    border:1px solid #DD7230;
}