*{
    margin: 0;
    padding: 0;

}

.bkg{
    height: 100%;
    width: 100%;
    border-style: solid;
    box-sizing: border-box  ;
    border-color: #DD7230;
    /* padding: 0;
    margin: 0; */
    border-width: 10px;
    background-color: #ffefe6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

h1.title_name{
    color: #DD7230;
    font-family: Baskerville,Times,'Times New Roman',serif;
    font-size: 50px;
    font-variant:small-caps;
    line-height: 100px;
    font-weight: bold;
    margin-top: -10px;
    text-align: center;
    text-shadow: 0 1px 1px rgb(255, 255, 255);
    margin: 35px auto;
}

.pic_row{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

.pic_col_left{
    /* width: 700px;
    height: 680px;
    background-image: url(pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
    margin-top: 50;
    margin-left: 100; */
    float: left;
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pic_col_right{
    /* width: 700px;
    height: 680px;
    background-image: url(pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
    margin-top: 50;
    margin-left: 100; */
    float: right;
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-welcome{
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 30px;
    color:#DD7230;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.btn-welcome:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-welcome:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-menu{
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 30px;
    color:#DD7230;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.btn-menu:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-menu:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-press{
    float: right;
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-right: 30px;
    color:#DD7230;
    font-size: 20px;
    position: relative;
}

.btn-press:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-press:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-order{
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 30px;
    color:#DD7230;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.btn-order:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-order:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-contacts{
    float: right;
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-right: 30px;
    color:#DD7230;
    font-size: 20px;
    position: relative;
}

.btn-contacts:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DD7230;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn-contacts:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.buttons{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    font-size:20px;
    padding:0 1.5em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.buttons:hover{
    background:#fff;
    color:#DD7230;
}
.buttons:before,.buttons:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #DD7230;
    transition:400ms ease all;
}
.buttons:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.buttons:hover:before,.buttons:hover:after{
    width:100%;
    transition:800ms ease all;
}

.submit-btn:enabled{
    background:#DD7230;
    color:#fff;
    border:none;
    display: block;
    position:relative;
    height:25px;
    font-size:15px;
    padding:0 10px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}

.submit-btn:disabled{
    background:#e2a884;
    color:#fff;
    border:none;
    display: block;
    position:relative;
    height:25px;
    font-size:15px;
    padding:0 10px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}

.submit-btn:enabled:hover{
    background:#fff;
    color:#DD7230;
}
.submit-btn:enabled:before,.submit-btn:enabled:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #DD7230;
    transition:400ms ease all;
}
.submit-btn:enabled:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.submit-btn:enabled:hover:before,.submit-btn:enabled:hover:after{
    width:100%;
    transition:800ms ease all;
}

.table_reserve {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.auto_fit_img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.map .btn {
    position: absolute;
    background-color: #04AA6D;
    border: black;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
    cursor: pointer;
}

.form-b{
    width: 800px;
    height: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    padding: 5px;
    transform: scale(1.2);
}

.swal-modal {
    border: 5px solid #DD7230;
}

.swal-footer {
    text-align: center;
}